@header-height: 118px;
@sider-width: 300px;

.layout {
  display: grid;
  background: @white;
  row-gap: 0 30px;
  column-gap: 30px;
  grid-template-rows: @header-height auto auto;
  grid-template-columns: @sider-width auto;
  grid-template-areas:
    'header header'
    'hero hero'
    'content content';

  @media (min-width: @screen-lg) {
    grid-template-areas:
      'header header'
      'hero hero'
      'sidebar content';
  }
}

.hero {
  grid-area: hero;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  border-bottom: 1px solid fade(@black, 5%);
  background: @chalk;
  position: sticky;
  top: 0;
  z-index: 10;

  .main-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0 10px;
  }

  .filter-bar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header-left,
  .header-right {
    display: flex;
  }

  .header-right {
    margin-right: 0;
    margin-left: auto;
  }

  .header-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-content {
      flex: 1;
      max-width: 1000px;
    }
  }

  :global {
    .ant-form-item {
      margin: 0;
    }
  }
}
.aside {
  grid-area: sidebar;
  padding: 30px;
  position: sticky;
  top: @header-height;
  align-self: start;
}
.main {
  grid-area: content;
  margin: 30px 0;
}
