@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

.content-list {
  display: flex;
  .image-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: @border-radius-base;
    @media @desktop {
      margin-right: 20px;
    }
  }
  .content {
    flex: 1;
    padding: 24px;
  }
}

.content-list-mini {
  .ant-list-item {
    padding: 12px 0;
    a {
      text-decoration: none;
    }
    .anticon {
      margin-left: 10px;
    }
    transition: all 0.3s ease-in-out;
    &:hover {
      background: transparent;
      margin-left: 6px;
    }
  }
}
