.comments {
  width: 100%;
}

.tabs {
  :global {
    .ant-tabs-nav {
      max-height: 270px;
    }

    .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }
    .ant-tabs-nav .ant-tabs-tab {
      margin-top: 0;
      padding-bottom: 16px;
      padding-top: 16px;
      max-width: 180px;
      padding-left: 0;
      border-bottom: 1px solid @grey-white;

      .ant-tabs-tab-btn {
        max-width: 100%;
        display: flex;
      }
    }
  }
}

.authorSkeleton {
  :global {
    .ant-skeleton-avatar {
      border-radius: @border-radius-base;
    }
  }
}

.messageSkeleton {
  :global {
    .ant-skeleton-paragraph {
      > li {
        &:first-of-type {
          height: 160px;
        }
        &:nth-of-type(2) {
          width: 20% !important;
        }
      }
    }
  }
}

.attachmentsLabel {
  color: @text-color;
  display: flex;
  align-items: center;

  :global {
    .ant-avatar {
      margin-right: 10px;
    }
  }
}
