.action-comments {
  width: 100%;

  :global {
    .ant-list-pagination {
      margin: 10px 0;
    }

    .comment-item {
      width: 100%;
      margin: 10px 0 10px;
      display: flex;

      .main-message-wrapper {
        flex: 1;
      }

      .ant-avatar {
        margin-right: 12px;
      }

      .author {
        display: flex;
        align-items: center;
        font-size: @font-size-xs;
        color: @black;

        .name {
          flex: 1;
          display: flex;
          align-items: center;

          .time {
            font-size: 12px;
            color: @text-color;
            margin: 0 6px;
          }

          .admin-btn {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }

      .message {
        .attachments {
          margin: 8px 0 0;

          .ant-btn {
            background: transparent;
          }
        }

        .body {
          padding: 12px;
          background: @white-grey;
          border-radius: @border-radius-base;
          margin: 10px 0 10px;

          .show-more-content {
            p {
              margin-bottom: 3px;
            }

            li {
              &::marker {
                float: left;
              }
            }

            ul,
            ol {
              padding-inline-start: 20px;
            }
          }
        }
      }
    }

    .richtext-editor {
      margin: 12px 0;
    }
  }
}
