.action-card {
  @card-padding: @action-card-padding;

  width: 100%;
  border: 1px solid fade(@black, 10%);

  :global {
    .ant-card-body {
      display: flex;
      width: 100%;
      padding: 0;
      flex-direction: column;

      .hero {
        .wrapper {
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          width: 100%;
          height: 300px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        justify-content: center;

        .title {
          margin-bottom: 10px;
          .h5();
        }

        .tags {
          margin: 10px 0;
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 30px 0 0;
        }
      }
    }
  }
}

.action-card-wrapper {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
}

.action-card-skeleton {
  &[class~='ant-skeleton'] {
    display: flex;
    align-items: center;
    padding: @action-card-padding 0;

    :global {
      .ant-skeleton-avatar {
        width: @action-card-hero-size;
        height: @action-card-hero-size;
        border-radius: @border-radius-base;
      }

      .ant-skeleton-header {
        display: flex;
        align-items: center;
        margin-right: 16px;
      }

      .ant-skeleton-content {
        .ant-skeleton-title {
          margin: 0;
        }

        .ant-skeleton-paragraph {
          margin-top: 10px;
        }
      }
    }
  }
}
