@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

.action-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0;
  color: var(--text-color);

  @media @desktop {
    margin: 0;
  }

  .icon {
    margin-right: 6px;
  }

  &.wine {
    .icon .ant-avatar {
      background: @wine;
      color: @white;
    }
  }

  &.blue {
    .icon .ant-avatar {
      background: @blue;
      color: @white;
    }
  }
}

.action-stats {
  display: flex;
  flex-direction: column;

  @media @desktop {
    flex-direction: row;
  }

  .logo-group,
  .action-stat {
    margin-right: 22px;
    .label {
      font-size: @font-size-sm;
    }
  }

  &.small {
    .logo-group,
    .action-stat {
      margin-right: 14px;
    }
  }
}

.action-card {
  @card-padding: @action-card-padding;
  .list-hover-effect(@action-card-padding);

  width: 100%;
  border-radius: 0;
  background-color: transparent;

  .ant-card-body {
    display: flex;
    width: 100%;
    padding: @action-card-padding 0;
    flex-direction: column;

    @media @desktop {
      flex-direction: row;
    }

    .hero {
      display: none;

      @media @desktop {
        display: block;
      }

      .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: @action-card-hero-size;
        height: @action-card-hero-size;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 0;
      justify-content: center;

      @media @desktop {
        padding: 0 30px;
      }

      .title {
        font-size: 18px;
        margin-bottom: 10px;
        .font-semi();
      }

      .stats {
        display: flex;
        flex-direction: row;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media @desktop {
        margin-right: @action-card-padding;
      }
    }
  }
}

.action-card-wrapper {
  text-decoration: none;
  display: flex;
  width: 100%;
}

.action-card-skeleton {
  &.ant-skeleton {
    display: flex;
    align-items: center;
    padding: @action-card-padding 0;
    .ant-skeleton-avatar {
      width: @action-card-hero-size;
      height: @action-card-hero-size;
      border-radius: @border-radius-base;
    }
    .ant-skeleton-header {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
    .ant-skeleton-content {
      .ant-skeleton-title {
        margin: 0;
      }
      .ant-skeleton-paragraph {
        margin-top: 10px;
      }
    }
  }
}
