@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';

.action-stat {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ant-tag {
    font-size: 14px;
    border-color: transparent;
  }

  &.purple {
    .ant-tag {
      color: #763bc1;
      background: fade(#763bc1, 10%);
    }
  }

  &.orange {
    .ant-tag {
      color: #fc8053;
      background: fade(#fc8053, 10%);
    }
  }

  &.green {
    .ant-tag {
      color: #42a6af;
      background: fade(#42a6af, 12%);
    }
  }
}

.action-stats {
  display: flex;
  flex-direction: row;
}

.action-card {
  width: 100%;
  border-radius: 0;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    // background: #f7f7f7;
    padding-left: 6px;
  }
  .ant-card-body {
    display: flex;
    width: 100%;
    padding: 12px 0;

    .hero {
      .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 80px;
        height: 80px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 30px;
      justify-content: center;

      .title {
        font-size: 18px;
        margin-bottom: 10px;
        .font-semi(@black);
      }

      .stats {
        display: flex;
        flex-direction: row;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .others {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
      }
    }
  }
}
