@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

.action-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0;

  @media @desktop {
    margin: 0;
  }

  .icon {
    margin-right: 6px;
  }

  &.wine {
    .icon .ant-avatar {
      background: @wine;
      color: @white;
    }
  }

  &.blue {
    .icon .ant-avatar {
      background: @blue;
      color: @white;
    }
  }
}

.action-stats {
  display: flex;
  flex-direction: column;

  @media @desktop {
    flex-direction: row;
  }

  .logo-group,
  .action-stat {
    margin-right: 22px;
    .label {
      font-size: @font-size-sm;
    }
  }

  &.small {
    .logo-group,
    .action-stat {
      margin-right: 14px;
    }
  }
}

.action-card {
  @card-padding: 14px;
  .list-hover-effect(@card-padding);

  width: 100%;
  border-radius: 0;

  .ant-card-body {
    display: flex;
    width: 100%;
    padding: @card-padding 0;
    flex-direction: column;

    @media @desktop {
      flex-direction: row;
    }

    .hero {
      display: none;

      @media @desktop {
        display: block;
      }

      .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 80px;
        height: 80px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 0;
      justify-content: center;

      @media @desktop {
        padding: 0 30px;
      }

      .title {
        font-size: 18px;
        margin-bottom: 10px;
        .font-semi(@black);
      }

      .stats {
        display: flex;
        flex-direction: row;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media @desktop {
        margin-right: @card-padding;
      }
    }
  }
}
