@import (reference) '../../styles/variables.less';

.site-layout-background {
  background: @white;

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
}

.ant-layout {
  .ant-layout-content {
    .ant-breadcrumb {
      padding: 24px 0;
    }
  }

  .ant-layout-sider {
    .logo {
      padding: 23px;
    }
  }
}

.site-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.one-col-layout-wrapper {
  background: @white;
  padding: 30px;
  border-radius: 20px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;

  .logo {
    padding: 20px;
  }
}