@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

.empty-state {
  text-align: center;
  padding: 24px;
  background: @grey-white;
  border-radius: @border-radius-base;

  .icon {
    margin: 20px 0 10px;
  }

  .ant-btn {
    margin: 10px 0 20px;
  }
}
