@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

.service-provider-comparison {
  .ant-list-split {
    .ant-list-item {
      padding: 0;
    }
  }
  .multi-select .ant-btn {
    font-size: 15px;
  }
  .multi-select {
    width: 100%;
    .ant-btn {
      flex: 1;
    }
  }
}
