@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';

.logo-group {
  display: flex;
  margin: 2px 0;
  align-items: center;

  &.reverse {
    flex-direction: row-reverse;
    .ant-avatar-group {
      margin-right: 0;
      margin-left: 6px;
    }
  }

  .label {
    font-size: @font-size-base;
    .font-regular();
  }

  .ant-avatar-group {
    margin-right: 6px;
    .ant-avatar {
      border-color: @grey;
      background: @white;
      padding: 3px;
      > img {
        object-fit: contain;
      }

      &.empty {
        padding: 0;
        background-color: @grey-white;
        color: @black;
        border-color: transparent;
      }
    }
  }

  &.small {
    .label {
      font-size: @font-size-xs;
    }
  }
}
