@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

@action-details-hero-size: 90px;

.action-details {
  display: flex;
  flex-direction: column;

  .action-title {
    display: flex;

    .hero {
      padding-left: 25px;
      display: none;

      @media @desktop {
        display: block;
      }

      .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: @border-radius-base;
        width: @action-details-hero-size;
        height: @action-details-hero-size;
      }
    }
  }
}

.action-details-skeleton {
  display: flex;
  flex-direction: row-reverse;

  &.ant-skeleton-with-avatar
    .ant-skeleton-content
    .ant-skeleton-title
    + .ant-skeleton-paragraph {
    width: 80%;
    margin-top: 20px;
    li {
      height: 24px;
    }
  }

  &.ant-skeleton-with-avatar .ant-skeleton-content .ant-skeleton-title {
    height: 38px;
    margin-top: 0;
  }

  .ant-skeleton-header {
    padding-right: 0;
    padding-left: 20px;
    .ant-skeleton-avatar {
      border-radius: @border-radius-base;
      width: @action-details-hero-size;
      height: @action-details-hero-size;
    }
  }
}
