@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';
@import (reference) '../../styles/mixins.less';

.action-details {
  display: flex;
  flex-direction: column;

  .action-title {
    display: flex;

    .hero {
      padding-left: 25px;
      display: none;

      @media @desktop {
        display: block;
      }

      .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 90px;
        height: 90px;
      }
    }
  }
}

.actions-bar {
  margin: 0 0 40px;
}
