.actions-bar {
  :global {
    h4 {
      font-size: 18px;
      margin: 0 0 15px;
    }

    .news {
      display: flex;
      justify-content: flex-start;
      padding: 8px 0;

      .ant-skeleton {
        .ant-skeleton-content {
          vertical-align: middle;
        }
        .ant-skeleton-avatar {
          border-radius: @border-radius-base;
        }
        .ant-skeleton-title {
          margin: 0;
        }
      }

      .text {
        font-size: @font-size-xs;
        margin-left: 10px;
      }
    }

    .see-all {
      margin-bottom: 0;
    }
  }
}

.status-button {
  .color-button(@color, @text-color: @white) {
    :global {
      .ant-btn {
        background-color: @color;
        border-color: @color;
        color: @text-color;
      }
    }
  }

  &[class~='ant-input-group'] {
    width: 100%;
    display: flex;

    &[class~='purple'] {
      .color-button(@purple);
    }
    &[class~='black'] {
      .color-button(@black);
    }
    &[class~='red'] {
      .color-button(@red, @black);
    }
    &[class~='green-medium'] {
      .color-button(@green-medium);
    }
    &[class~='blue'] {
      .color-button(@blue);
    }

    :global {
      .ant-btn:first-of-type {
        flex: 1;
        text-align: left;
      }
      .ant-btn:nth-of-type(2) {
        border-left: 1px solid fade(@black, 10%);
      }
    }
  }
}

.action-status-tag {
  .font-regular();
  font-size: @font-size-xs;
  height: auto;
  padding: 1px 8px;

  .color-tag(@color, @text-color: @white) {
    background-color: @color;
    border-color: @color;
    color: @text-color;
  }

  &[class~='purple'] {
    .color-tag(@purple);
  }
  &[class~='black'] {
    .color-tag(@black);
  }
  &[class~='red'] {
    .color-tag(@red, @black);
  }
  &[class~='green-medium'] {
    .color-tag(@green-medium);
  }
  &[class~='blue'] {
    .color-tag(@blue);
  }
}
