.admin-events-list {
  :global {
    .events-table {
      margin-top: 30px;

      .ant-badge-count {
        background-color: @bg-accent-strong;
        color: @text-color;
      }

      .row-expired,
      .row-cancelled {
        opacity: 0.3;
      }
    }
  }
}
