@header-height: 62px;
@space-between-items: 30px;
@icon-width: 12px;
@content-margin-top: 120px;
@content-margin-top-mobile: 40px;

.steps-layout {
  background-color: var(--layout-body-background);
  min-height: 100vh;

  &:not(&[class~='has-sider']) {
    :global {
      .ant-layout-content .content-wrapper main {
        width: @base-container-width;
        padding-right: @default-padding-xs;
      }
    }
  }

  &[class~='has-sider'] {
    :global {
      .color-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: @chalk;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top 50% right -400px, top 50% right 0px;

        @media (min-width: @screen-xl) {
          background-position: top 50% right -400px, top 50% right 0px;
        }

        @media (min-width: @screen-xxl) {
          background-position: top 50% right -320px, top 50% right 0px;
        }

        @media (min-width: @screen-xxxl) {
          background-position: top 50% right -170px, top 50% right 0px;
        }

        &::before {
          width: 50%;
          height: 100%;
          content: '';
        }

        &::before {
          background: @white;
        }

        display: none;
        @media @desktop {
          display: flex;
        }
      }
    }
  }

  :global {
    // Header bar
    .ant-layout-header {
      height: @header-height;
      line-height: @header-height;
      border-bottom: 1px solid @grey-light;
      display: flex;
      align-items: center;
      padding: 0 @default-padding-xs;
      max-width: 100%;
      overflow-x: scroll;
      position: sticky;
      top: 0;
      z-index: 10;
      scroll-behavior: smooth;

      // Hide scroll bars
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }

      .steps-wrapper {
        flex: 1;
      }

      .ant-steps {
        width: auto;
        height: @header-height;
        display: flex;
        align-items: center;
        padding: 0 @default-padding-xs;
        flex-direction: row;

        .ant-steps-item::after {
          display: none;
        }

        .ant-steps-item::before {
          display: none;
        }

        .ant-steps-item,
        .ant-steps-item-container,
        .ant-steps-item-content,
        .ant-steps-item-title,
        .ant-steps-item-title .step-title,
        .ant-steps-item-title .step-title .title {
          height: 100%;
          display: flex;
          align-items: center;
        }

        // active state
        .ant-steps-item.ant-steps-item-active {
          .step-title .title::after {
            height: 2px;
            background-color: @black;
            content: '';
            width: 100%;
            position: absolute;
            bottom: 0;
          }
        }

        .ant-steps-item {
          text-align: left;
          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: auto;

          &:last-child {
            .step-title {
              .anticon {
                display: none;
              }
            }
          }

          .ant-steps-item-container {
            padding-bottom: 0;
          }

          .step-title {
            position: relative;
            display: flex;
            align-items: center;

            .title {
              position: relative;
              font-size: @font-size-xs;
            }

            .anticon {
              margin: 0 20px;
              font-size: @font-size-xs;
            }
          }
        }

        .ant-steps-item-container {
          margin-left: 0;
        }

        .ant-steps-item-icon {
          display: none;
        }
      }

      .close-icon {
        margin-right: 0;
        margin-left: auto;
      }
    }

    footer {
      font-size: @font-size-xs;
      border-top: 1px solid @grey-light;
    }

    // Main Content
    .ant-layout-content {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      @media @desktop {
        flex-direction: row;
      }

      .content-wrapper {
        max-width: @lg-container-width;
        margin: 0 auto;
        z-index: 1;
        display: flex;
        flex-direction: column;

        @media @desktop {
          flex-direction: row;
        }

        // text styles in container
        .description {
          font-size: @font-size-lg;
          margin: 0 0 30px;
        }

        main {
          width: 100%;
          background: white;
          width: 100%;
          padding: @content-margin-top-mobile @default-padding-xs 30px;

          @media @desktop {
            width: @md-container-width;
            padding: @content-margin-top @default-padding-xs 40px;
            padding-right: 80px;
          }
        }

        aside {
          height: 100%;
          display: flex;
          width: 100%;
          padding-top: @content-margin-top;
          padding: @content-margin-top-mobile @default-padding-xs
            @default-padding-xs;
          align-items: center;
          flex: 1;

          @media @desktop {
            padding: @content-margin-top @default-padding-xs @default-padding-xs;
            width: @xs-container-width;
            padding-left: 40px;
          }

          @media (min-width: @screen-xl) {
            padding-left: 80px;
          }
        }
      }
    }
  }
}
