.filter-bar {
  display: flex;
  align-items: center;
  width: 100%;

  :global {
    .ant-form {
      width: 100%;

      .align-right {
        display: flex;
        @media (min-width: @screen-md) {
          align-items: flex-end;
          justify-content: flex-end;
        }

        .ant-form-item-label {
          margin-right: 0;
          margin-left: auto;
          label {
            font-size: @font-size-xs;
          }
        }
        .ant-form-item-control-input-content {
          display: flex;
          @media (min-width: @screen-md) {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
