@import (reference) './override-ant-globals.less';

html,
body {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: @heading-color;
}

h1 {
  .h1();
}

h2 {
  .h2();
}

h3 {
  .h3();
}

h4 {
  .h4();
}

p {
  .default-text();
  b {
    color: @black;
  }
}

ol,
ul {
  padding-inline-start: 25px;
}
