.list-hover-effect(@card-padding) {
  @inkbar-width: 3px;

  // cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    padding-left: calc(@card-padding + @inkbar-width);
    border-left: @inkbar-width solid @yellow;
    background: linear-gradient(
      90deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.inverse-color(@color) {
  color: @color;
  background: fade(@color, 10%);
}

.equal-height-columns(@gutter-width: 10px) {
  :global {
    .slick-list {
      margin: 0 -@gutter-width;
    }

    .slick-slide {
      height: auto;
    }

    .slick-list,
    .slick-track,
    .slick-slide > div {
      height: 100%;
      display: flex;
    }

    .slick-slide > div {
      width: 100%;
      padding: 0 @gutter-width;

      > .ant-card {
        height: 100%;
        display: flex;
        flex-direction: column;

        > .ant-card-body {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
