@import './variables-css.less';
@import './variables.less';
@import './fonts.less';
@import './mixins.less';

// Dark mode
.theme-dark {
  --layout-body-background: @black;
  --heading-color: @white;
  --text-color: @text-color-darkmode;
  --text-color-light: @text-color-light-darkmode;
  --text-color-strong: @text-color-strong-darkmode;
  --bg-accent: @bg-accent-darkmode;
  --bg-accent-strong: @bg-accent-strong-darkmode;
  --layout-highlight: @white;
  --btn-default-color: @white;
  --btn-default-bg: @black;
  --link-color: @white;
}

body {
  color: var(--text-color);
  a {
    color: var(--link-color);
  }
}

// Row
.ant-row {
  &.equal-height {
    > div {
      display: flex;
    }
  }
}

// Tags
.ant-tag.super-text {
  border-color: transparent;
  background-color: @grey-white;
  margin: 0 0 15px;
}

.ant-drawer.fullscreen-drawer-bottom {
  @media @desktop {
    .ant-drawer-body {
      padding: 40px 100px;
    }
  }
}

// Tabs
.ant-tabs {
  .ant-tabs-content {
    color: var(--text-color);
  }

  .ant-tabs-tab-btn {
    color: var(--text-color);
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--heading-color);
  }
}

// Form
.ant-form {
  .ant-form-item-label > label {
    color: var(--heading-color);
  }
}

// List
.ant-list.ant-list-split {
  .ant-list-item {
    border-color: var(--bg-accent);
    color: var(--text-color);
  }
  &.no-padding {
    .ant-list-item {
      padding: 0;
    }
  }
}
.ant-list {
  &.equal-height {
    .ant-row {
      > div {
        display: flex;
        .ant-list-item {
          height: 100%;
        }
      }
    }
  }
  &.info-list-sm {
    .ant-list-header {
      h4 {
        margin: 0;
        .font-semi();
      }
    }
    .ant-list-item {
      padding: 5px 0;
      .anticon {
        margin-right: 6px;
      }
    }
  }
  &.simple-list {
    .ant-list-item-meta-title {
      margin: 5px 0 5px;
      .font-regular();
    }
  }
}

// Collapse
.ant-collapse {
  &.mini-collapse {
    > .ant-collapse-item > .ant-collapse-header {
      padding: 10px 0;
    }
  }
}

// Icons
.anticon {
  &.success {
    color: @success-color;
  }
  &.green {
    color: @green;
  }
  &.wine {
    color: @wine;
  }
  &.black {
    color: @black;
  }
  &.blue {
    color: @blue;
  }
  &.yellow {
    color: @yellow;
  }
}

// Avatars
.ant-avatar {
  &.green {
    background: @green;
  }
  &.blue {
    background: @blue;
  }
  &.wine {
    background: @wine;
  }
  &.black {
    background: @black;
  }
  &.yellow {
    background: @yellow;
    color: @black;
  }
  &.green-inverse {
    .inverse-color(@green);
  }
  &.blue-inverse {
    .inverse-color(@blue);
  }
  &.wine-inverse {
    .inverse-color(@wine);
  }
  &.yellow-inverse {
    .inverse-color(@yellow);
  }
}

// Buttons
.ant-btn {
  &:not(.ant-btn-icon-only) {
    background: var(--btn-default-bg);
    color: var(--btn-default-color);
  }
}
.ant-btn.ant-btn-primary {
  &:not(.ant-btn-primary[disabled]) {
    background: @btn-primary-bg;
    color: @btn-primary-color;
  }
}
.ant-btn.ant-btn-background-ghost {
  color: var(--heading-color);
  border-color: var(--heading-color);
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background: @grey-white;
  border-color: transparent;
  color: @black;
}

.ant-btn.ant-btn-background-ghost:hover,
.ant-btn.ant-btn-background-ghost:focus {
  background: @grey-white;
  border-color: transparent;
  color: @black;
}

.ant-btn.ant-btn-primary:hover,
.ant-btn.ant-btn-primary:focus {
  background: fade(@yellow, 80%);
  border-color: transparent;
  color: @black;
}

.ant-btn-link.no-padding {
  padding: 0;
  &:hover {
    background-color: transparent;
  }
}

a.ant-btn {
  padding-top: initial !important;
}

// Popover
.ant-popover {
  &.popover-sm {
    font-size: @font-size-xs;
    max-width: 180px;
    .ant-list {
      .ant-list-item {
        font-size: @font-size-xs;
      }
    }
  }
  &.popover-lg {
    max-width: 500px;
  }
  &.title-big {
    .ant-popover-title {
      padding: 16px 16px 14px;
    }
  }
}

// Radio
.ant-radio-group {
  .ant-radio-button-wrapper {
    &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: @black;
    }
  }
}

// Checkbox
.ant-checkbox-wrapper.text-black > span {
  color: @black;
}

// Divider
.ant-divider {
  &.ant-divider-horizontal.ant-divider-with-text {
    .ant-divider-inner-text {
      font-size: @font-size-sm;
    }
  }
}

// Drawer
.ant-drawer {
  &.drawer-md {
    .ant-drawer-content-wrapper {
      width: 100% !important;
      @media @desktop {
        width: @default-drawer-width !important;
      }
    }
    .ant-drawer-content {
      .ant-drawer-body {
        padding: 20px;
        color: var(--text-color);
        background: var(--layout-body-background);
        @media @desktop {
          padding: 20px 40px;
        }
      }
    }
  }
}

// Modal
.ant-modal-wrap {
  &.modal-md {
    .ant-modal {
      @media @desktop {
        width: 720px !important;
      }
    }
    .ant-modal-body {
      padding-top: 48px;
    }
  }
}
