@import '~antd/lib/style/themes/default.less';

// -------- Colors -----------
// Palette
@blue: #1f335e;
@blue-dark: #0d1a37;
@green: #009976;
@orange: #ff832c;
@red: #ef3636;
@pink: #d82086;
@lila: #622860;
@yellow: #FFC839;
@purple: #5001ab;
@chalk: #FBF7F0;
@purple-light: #c899fd;

// White and black
@white: #fff;
@black: #0B0B0C;

// Ant design colors
@primary-color: @yellow;
// @secondary-color: @yellow;

// Layout
@layout-header-background: @white;
@layout-body-background: #f1eeff;
@layout-footer-background: #f1eeff;
@layout-sider-background: @black;
@layout-trigger-background: fade(@white, 10%);
@menu-dark-bg: @black;
@menu-dark-inline-submenu-bg: fade(@white, 10%);
@border-radius-base: 6px;

// Fonts
@font-family: 'Epilogue', -apple-system, Helvetica, Arial, sans-serif;
@font-size-base: 17px;
@font-size-lg: 17px;
@font-size-sm: 17px;
@font-size-xs: 16px;
@line-height-base: 1.3;
@text-color: fade(@black, 80%);
@text-color-strong: fade(@black, 95%);
@heading-color: @black;
@typography-title-font-weight: 800;

// Border radius
@border-radius-base: 10px;
@border-radius-sm: 10px;
@border-radius-lg: 10px;

// height rules
// @height-base: 50px;
// @height-lg: 56px;
// @height-sm: 42px;

// @select-multiple-item-height-lg: @height-lg;
// @select-dropdown-height-lg: @height-lg;
// @select-single-item-height-lg: @height-lg;

// @dropdown-line-height: 28px;

// Buttons
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-sm;
@btn-border-radius-lg: @border-radius-lg;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-primary-color: @black;
@btn-primary-bg: @primary-color;

@btn-default-ghost-color: @primary-color;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @primary-color;

@btn-font-size-lg: 14px;
@btn-font-size-sm: 14px;

// @btn-padding-horizontal-sm: 20px;

// @btn-height-base: @height-base;
// @btn-height-lg: @height-lg;
// @btn-height-sm: @height-sm;
// @btn-line-height: @line-height-base;

// Checkbox
// @checkbox-size: 16px;

// Background
@body-background: @chalk;
@card-background: @white;

// Tags
// @tag-font-size: 13px;
// @tag-line-height: 20px;