@import '~antd/lib/style/themes/default.less';

// -------- Colors -----------
// Palette
@blue: #042b4f;
@green: #06503d;
@orange: #ff832c;
@wine: #6a1246;
@yellow: #ffc839;
@chalk: #fbf7f0;

// White and black
@white: #fff;
@black: #0b0b0c;
@grey-light: #e4e4e4;
@grey-white: #f1f1f1;

// Ant design colors
@primary-color: @yellow;
// @secondary-color: @yellow;

// Layout
@layout-header-background: @white;
@layout-body-background: @white;
@layout-footer-background: @white;
@layout-sider-background-light: @chalk;
@layout-trigger-background: fade(@black, 10%);
@layout-header-height: 95px;
@layout-trigger-background-light: fade(@black, 5%);
@border-radius-base: 6px;
@sider-section-width: 270px;
@steps-sider-section-width: 320px;

// Menu
@menu-item-active-bg: fade(@black, 5%);
@menu-bg: @chalk;
@menu-highlight-color: @black;

// Fonts
@font-family: 'DM Sans', -apple-system, Helvetica, Arial, sans-serif;
@font-size-base: 17px;
@font-size-lg: 18px;
@font-size-sm: 16px;
@font-size-xs: 15px;
@line-height-base: 1.4;
@text-color: fade(@black, 65%);
@text-color-strong: fade(@black, 95%);
@text-color-light: fade(@black, 55%);
@heading-color: @black;
@typography-title-font-weight: 800;
@link-decoration: underline;
@link-color: @black;

// Border radius
@border-radius-base: 10px;
@border-radius-sm: 10px;
@border-radius-lg: 10px;

// height rules
@height-base: 40px;
@height-lg: 44px;
@height-sm: 36px;

@select-multiple-item-height-lg: @height-lg;
@select-dropdown-height-lg: @height-lg;
@select-single-item-height-lg: @height-lg;

@dropdown-line-height: 28px;
@dropdown-vertical-padding: 7px;

// Buttons
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-sm;
@btn-border-radius-lg: @border-radius-lg;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-primary-color: @black;
@btn-primary-bg: @primary-color;
@btn-default-color: @black;

@btn-default-ghost-color: @black;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @black;

@btn-font-size-lg: 16px;
@btn-font-size-sm: 14px;
@btn-padding-horizontal-sm: 20px;

@btn-height-base: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;
@btn-line-height: @line-height-base;

// Checkbox
@checkbox-size: 20px;
@checkbox-border-radius: 4px;

// Card
@card-shadow: 0 2px 2px 2px rgb(0 0 0 / 10%);

// Background
@body-background: @chalk;
@card-background: @white;

// Avatar
@avatar-size-base: 32px;
@avatar-size-lg: 40px;
@avatar-size-sm: 24px;
@avatar-font-size-base: 18px;
@avatar-font-size-lg: 24px;
@avatar-font-size-sm: 14px;

// Tags
// @tag-font-size: 13px;
// @tag-line-height: 20px;

// Tabs
@tabs-card-active-color: @black;
@tabs-active-color: @black;
@tabs-highlight-color: @black;
@tabs-ink-bar-color: @black;

// Steps
@steps-vertical-tail-width: 16px;
@steps-icon-margin: 0 8px 0 0;
@steps-icon-size: 28px;
@steps-icon-font-size: @font-size-base;
@steps-vertical-tail-width: 14px;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// added in between step
@screen-xl-small: 1300px;
@screen-xl-small-min: @screen-xl-small;
@screen-xl-small-factor: 1.11;

// Extra extra large screen / large descktop
@screen-xxl: 1601px;
@screen-xxl-min: @screen-xxl;
@screen-xxl-factor: 1.33;

// Extra extra large screen / large descktop
@screen-xxxl: 1900px;
@screen-xxxl-min: @screen-xxl;
@screen-xxl-factor: 1.5;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);
@screen-xxl-max: (@screen-xxxl-min - 1px);

@mobile: ~'only screen and (max-width: @{screen-sm-max})';
@desktop: ~'only screen and (min-width: @{screen-lg})';
@desktop-xl: ~'only screen and (min-width: @{screen-xl})';
@desktop-xxl: ~'only screen and (min-width: @{screen-xxl})';

// Defaults
@default-padding: 60px;
@max-container-width: 1400px;
