@collapsed-sider-width: 85px;
@uncollapsed-sider-width: 200px;

.sider-layout {
  > [class~='site-layout'] {
    transition: padding 0.3s ease-in-out;

    @media @desktop {
      padding-left: @uncollapsed-sider-width;
    }
  }
  &[class~='is-collapsed'] {
    > [class~='site-layout'] {
      @media @desktop {
        padding-left: @collapsed-sider-width;
      }
    }
  }

  :global {
    .ant-layout.site-layout {
      background: var(--layout-body-background);
    }

    .ant-layout-content {
      padding: 20px;
      display: flex;
      width: 100%;
      max-width: @max-container-width;
      margin: 0 auto;
      flex-direction: column;

      @media @desktop {
        flex-direction: row;
        padding: calc(@default-padding-lg / 2) 0 0 @default-padding-lg;
      }

      .ant-breadcrumb {
        padding: @default-padding-lg 0;
      }
    }

    .ant-menu-vertical .ant-menu-submenu-selected {
      background: fade(@black, 10%);
      border-left: 3px solid @black;
    }

    .ant-layout-header {
      border-bottom: 1px solid var(--bg-accent-strong);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 20px;
      background: var(--layout-body-background);

      @media @desktop {
        padding: 0 0 0 @default-padding-lg;
      }
    }

    .ant-layout-sider,
    .ant-layout-sider-trigger {
      border-right: 1px solid @grey-light;
    }

    .ant-layout-sider {
      position: fixed;
      height: 100%;
      z-index: 1000;

      @media @desktop {
        overflow: auto;
        top: 0;
        bottom: 0;
        left: 0;
      }

      .divider {
        width: 70%;
        margin: 0 auto 30px;
        border-bottom: 1px solid @black;
      }
    }

    .trigger {
      padding: 0 calc(@default-padding-lg / 2);
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;
    }
  }
}
